@font-face {
  font-family: NotoSans;
  font-display: swap;
  src: url(../fonts/NotoSans-Black.woff2) format("woff2");
  font-weight: 900;
  font-style: normal
}
@font-face {
  font-family: NotoSans;
  font-display: swap;
  src: url(../fonts/NotoSans-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal
}
@font-face {
  font-family: TitilliumWeb;
  font-display: swap;
  src: url(../fonts/TitilliumWeb-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: NotoSans;
  font-display: swap;
  src: url(../fonts/NotoSans-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: NotoSans;
  font-display: swap;
  src: url(../fonts/NotoSans-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: TitilliumWeb;
  font-display: swap;
  src: url(../fonts/TitilliumWeb-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #7a7a7a;
  line-height: 1.5;
  font-family: NotoSans;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: NotoSans;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 72.5rem;
  margin: 0 auto;
  padding: 0 .625rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .625rem 1fr minmax(auto,71.25rem) 1fr .625rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.custom-checkbox {
  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: 1rem;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none
}
.custom-checkbox:not(:last-child) {
  margin-bottom: .75rem
}
.custom-checkbox input {
  display: none
}
.checkmark {
  width: 1.25rem;
  height: 1.25rem;
  border: .0625rem solid #2a5199;
  border-radius: .25rem;
  position: relative;
  display: inline-block;
  background-color: #fff;
  transition: background-color .3s,border-color .3s
}
.checkmark::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: .8125rem;
  height: .6875rem;
  background: url(../img/symptoms/check.svg) no-repeat center;
  background-size: contain;
  opacity: 0;
  transition: opacity .2s
}
.custom-checkbox input:checked+.checkmark {
  background: #2a5199;
  border-color: #2a5199
}
.custom-checkbox input:checked+.checkmark::after {
  opacity: 1
}
.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap
}
.menu__item {
  display: flex;
  align-items: center;
  -webkit-column-gap: .5rem;
  -moz-column-gap: .5rem;
  column-gap: .5rem
}
.menu__top {
  line-height: 125%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: .5rem
}
.menu__top span {
  font-weight: 400
}
.icon-menu {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.title {
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-wrap: balance
}
.button {
  display: inline-flex;
  background: #2a5199;
  border-radius: 3.125rem;
  color: #fff;
  justify-content: center;
  align-items: center;
  padding: .75rem 1.25rem;
  line-height: 140%;
  text-transform: uppercase;
  transition: background-color .3s,color .3s
}
.button:hover {
  background-color: #fff;
  color: #2a5199;
  outline: .0625rem solid #2a5199
}
.text_underline {
  text-decoration: underline
}
.description-title {
  font-weight: 600;
  font-size: 2.375rem;
  line-height: 126%;
  color: #484848
}
.page__first {
  background-color: #2a5199;
  position: relative
}
.cold .page__first {
  background-color: #954d86
}
.about .page__first {
  background-color: #6db9c2
}
.first__breadcrumbs {
  position: absolute;
  padding-inline: .625rem;
  padding-top: 1rem
}
.first__breadcrumbs:not(:last-child) {
  margin-bottom: 2.0625rem
}
.first__title:not(:last-child) {
  margin-bottom: 1rem
}
.first__subtitle {
  text-align: center;
  color: #fff;
  margin-bottom: -1.25rem
}
.breadcrumbs__list {
  display: flex;
  gap: 1.5rem;
  align-items: center
}
.breadcrumbs__item:not(:last-child) {
  position: relative
}
.breadcrumbs__item:not(:last-child)::after {
  content: "—";
  position: absolute;
  top: 50%;
  right: -1.25rem;
  color: #fff;
  -webkit-transform: translateY(-45%);
  transform: translateY(-45%)
}
.breadcrumbs__link {
  font-size: .75rem;
  line-height: 175%;
  color: #fff
}
.breadcrumbs__current {
  font-size: .75rem;
  line-height: 175%;
  color: #fff
}
.page__slogan {
  padding-block: 2.5rem
}
.slogan {
  background-color: #2a5199
}
.cold .slogan {
  background-color: #954d86
}
.about .slogan {
  background-color: #6db9c2
}
.slogan__text {
  max-width: 30rem;
  margin: auto
}
.page__warning {
  background: #f4f5f6
}
.warning__text {
  margin: auto;
  max-width: 57rem;
  text-align: center;
  color: #2a5199;
  line-height: 1.36
}
.page__note {
  margin-block: 2.5rem
}
.note__list {
  padding-left: 1rem
}
.note__list-item {
  line-height: 1.57
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.5rem
}
.header__logo {
  position: relative;
  z-index: 6;
  width: 16.25rem;
  margin-right: 1rem
}
.header__logo img {
  width: 100%
}
.menu__item {
  position: relative;
  cursor: pointer
}
.menu__item:hover .menu__sub-list {
  visibility: visible;
  opacity: 1
}
.menu__item:hover .menu__top {
  font-weight: 700
}
.menu__item svg {
  transition: -webkit-transform .3s ease 0s;
  transition: transform .3s ease 0s;
  transition: transform .3s ease 0s,-webkit-transform .3s ease 0s
}
.menu__sub-list {
  padding-top: 1.25rem
}
._active .menu__sub-list {
  width: 100vh
}
.menu__sub-item {
  padding: 1rem 1.5rem;
  background-color: #fff;
  cursor: pointer
}
.menu__sub-item:hover .menu__sub-link {
  color: #fff
}
.menu__sub-link {
  text-transform: uppercase;
  color: #00a5e2
}
.footer {
  border-top: .125rem solid #f4f5f6
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: .875rem
}
.footer__contraindications {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 100;
  background-color: #2a5199;
  text-align: center;
  padding: 1.5625rem 1.875rem
}
.footer__contraindications p {
  line-height: 114%;
  letter-spacing: -.07em;
  text-transform: uppercase;
  color: #fff
}
.links-footer {
  display: grid;
  justify-content: center;
  row-gap: 1.875rem
}
.links-footer:not(:last-child) {
  margin-bottom: 2.5rem
}
.links__footer {
  margin: auto
}
.menu-footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1rem
}
.menu-footer:not(:last-child) {
  margin-bottom: 2rem
}
.menu-footer__item {
  position: relative
}
.menu-footer__item:last-child .menu-footer__link {
  border: none
}
.menu-footer__link {
  display: block;
  line-height: 1.57;
  padding-inline: .625rem
}
.info-footer {
  text-align: center;
  line-height: 1.57
}
.info-footer:not(:last-child) {
  margin-bottom: 9.5rem
}
.main img {
  width: 100%;
  height: auto
}
.products__swiper-shell {
  position: relative
}
.products__arrow {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: #f4f5f6;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 5;
  cursor: pointer
}
.products__arrow-prew {
  left: 0
}
.products__arrow-next {
  right: 0
}
.products__arrow-next img {
  rotate: 180deg
}
.product__img {
  display: flex;
  justify-content: center
}
.product__img img {
  height: auto
}
.product__content {
  text-align: center
}
.product__title {
  margin-top: 2.5rem;
  margin-bottom: 1.5rem
}
.product__info {
  margin: auto;
  max-width: 87.719298%
}
.product__info p {
  line-height: 1.62
}
.product__info p:not(:last-child) {
  margin-bottom: 1.5rem
}
.product__advantages {
  line-height: 3
}
.swiper-pagination {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: .5rem
}
.swiper-pagination .swiper-pagination-bullet {
  cursor: pointer;
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  background-color: #f4f5f6;
  transition: background-color .8s
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #2a5199
}
.info__text {
  margin: auto;
  text-align: center;
  max-width: 43.75rem;
  font-size: 1.375rem;
  text-wrap: balance;
  margin-bottom: 6.25rem
}
.info__content {
  max-width: 47rem;
  margin: auto;
  text-align: center;
  background: url(../img/home/bg-2.webp) 0 0 no-repeat;
  border-radius: 2rem
}
.info__title img {
  width: 63.696809%
}
.info__subtitle {
  font-weight: 900;
  font-size: 1.8125rem;
  color: #2a5199;
  line-height: 145%;
  text-transform: uppercase;
  position: relative;
  display: flex;
  justify-content: center
}
.info__subtitle::after,
.info__subtitle::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}
.info__subtitle::before {
  content: "";
  left: .75rem;
  rotate: 180deg;
  -webkit-transform-origin: top;
  transform-origin: top;
  background: linear-gradient(90deg,#2a5199 0,rgba(42,81,153,0) 100%)
}
.info__subtitle::after {
  content: "";
  right: .75rem;
  background: linear-gradient(90deg,#2a5199 0,rgba(42,81,153,0) 100%)
}
.selects_arrow {
  display: flex;
  align-items: center
}
.selects_arrow img {
  transition: -webkit-transform .3s ease 0s;
  transition: transform .3s ease 0s;
  transition: transform .3s ease 0s,-webkit-transform .3s ease 0s
}
._select-open .selects_arrow img {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg)
}
.selects__body {
  display: flex;
  align-items: flex-start;
  justify-content: center
}
.selects__item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 22.5%;
  background: #f4f5f6;
  border-radius: 5px;
  padding: 13px 16px;
  font-weight: 600;
  color: #2a5199
}
.selects__list {
  display: none;
  flex: 1 1 100%;
  margin-top: 1.5rem
}
._select-open .selects__list {
  display: block
}
.selects__results {
  display: grid;
  gap: 80px 40px;
  margin-bottom: 5rem;
  grid-template-columns: repeat(2,1fr)
}
.item {
  border-top: 2px solid #f4f5f6;
  text-align: center;
  padding-top: 2.5rem
}
.item__img {
  width: 264px;
  margin: auto;
  align-items: center
}
.item__img_last {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1.25rem
}
.item__img:not(:last-child) {
  margin-bottom: 2rem
}
.item__img img {
  max-width: 100%
}
.item__img img:first-child {
  max-width: 264px
}
.item__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 133%
}
.item__title:not(:last-child) {
  margin-bottom: 1rem
}
.item__text {
  margin-block: 2rem;
  font-size: .8125rem;
  color: #5fa7af;
  line-height: 1.71
}
.item__text span {
  display: block;
  margin-block: 1rem
}
.link-item {
  background: #f4f5f6;
  border-radius: 12px;
  padding: .5625rem 1.375rem;
  display: inline-flex;
  gap: .625rem;
  align-items: center;
  font-size: .9375rem;
  color: #2a5199;
  line-height: 1.13;
  text-align: center
}
.link-item__text {
  font-weight: 700
}
.symptoms {
  background-color: #2a5199
}
.symptoms__title {
  margin-bottom: 2.5rem
}
.tabs {
  position: relative;
  margin-inline: -10px
}
.tabs__navigation {
  padding: 10px;
  max-width: 800px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem
}
.tabs__title:not(:last-child) {
  position: relative;
  z-index: 2
}
.tabs__title:not(:last-child) span {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-top: 4px dashed #fff;
  right: -120px;
  width: 120px;
  z-index: 0
}
.tabs__closed {
  position: relative;
  z-index: 2
}
:not(._tab-active) .tabs__active {
  display: none
}
.tabs ._tab-active .tabs__active {
  display: inline-block;
  -webkit-transform: scale(1.18);
  transform: scale(1.18)
}
.tabs ._tab-active .tabs__closed {
  display: none
}
.tabs__active {
  transition: -webkit-transform .3s ease 0s;
  transition: transform .3s ease 0s;
  transition: transform .3s ease 0s,-webkit-transform .3s ease 0s
}
.tabs__content {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10
}
.tabs__text {
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: .75rem
}
.tabs__subtext {
  max-width: 650px;
  margin: auto;
  line-height: 125%;
  text-align: center;
  color: #fff
}
.punkt .text b {
  display: block;
  margin-bottom: 12px
}
.punkt__product:not(:last-child) {
  margin-bottom: 1.5rem
}
.punkt__list-item {
  list-style-type: disc;
  margin-left: 30px
}
.text_underline:not(:last-child) {
  margin-bottom: 1rem
}
.video video {
  width: 100%
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:22.5em) {
  .first__subtitle {
    font-size: 1.25rem
  }
}
@media (min-width:29.99875em) {
  .menu-footer__link {
    border-right: .0625rem solid #7a7a7a;
    line-height: 1
  }
}
@media (min-width:47.99875em) {
  .menu__button-wrapper {
    display: none
  }
  .menu__sub-list {
    position: absolute;
    left: 0;
    top: 100%;
    visibility: hidden;
    opacity: 0;
    min-width: 100%
  }
  .menu__sub-item:hover {
    background-color: #00a5e2
  }
  .menu__sub-link {
    text-wrap: nowrap
  }
  .info__content {
    padding-inline: 4.75rem;
    padding-block: 6.25rem
  }
  .info__title:not(:last-child) {
    margin-bottom: 1.75rem
  }
  .info__subtitle::after,
  .info__subtitle::before {
    width: 5.4375rem;
    height: 1.375rem
  }
  .info__subtitle:not(:last-child) {
    margin-bottom: 3.4375rem
  }
}
@media (min-width:71.25em) {
  .menu__list {
    gap: 2rem
  }
  .footer__contraindications p {
    font-size: 1.5rem
  }
  .page__products {
    margin-top: -8.4375rem
  }
  .selects {
    margin-top: 5rem
  }
  .selects__body {
    margin-bottom: 5rem
  }
  .selects__body {
    gap: 2.5rem
  }
  .manual {
    margin-block: 5rem
  }
}
@media (min-width:48em) {
  .title {
    font-size: 2.5rem
  }
  .first__breadcrumbs {
    margin-bottom: 4.375rem
  }
  .first__container:not(:has(.first__subtitle)) {
    padding-block: 5.625rem
  }
  .first__container {
    padding-block: 4.375rem
  }
  .first__title {
    font-size: 2.5rem
  }
  .warning__text {
    font-size: 1.75rem
  }
  .warning__text {
    padding-block: 5rem
  }
  .note__list-item {
    font-size: .875rem
  }
  .footer {
    padding-top: 5rem
  }
  .page__products {
    margin-top: -4.75rem
  }
  .product__img img {
    width: 22.75rem
  }
  .product__title {
    font-size: 1.875rem
  }
  .info__container {
    margin-top: 6.25rem
  }
  .info__container {
    margin-bottom: 6.25rem
  }
  .symptoms {
    padding-block: 5rem
  }
  .tabs__text {
    font-size: 2.125rem
  }
  .tabs__subtext {
    font-size: 1.75rem
  }
  .manual__punkt:not(:last-child) {
    margin-bottom: 2.5rem
  }
  .punkt .text {
    font-size: 1rem
  }
}
@media (max-width:48em) {
  .menu__list {
    gap: .625rem
  }
  .page__products {
    margin-top: -4.75rem
  }
  .selects__body {
    gap: 1.25rem
  }
  .manual {
    margin-block: 2.5rem
  }
}
@media (max-width:20em) {
  .first__subtitle {
    font-size: 1rem
  }
}
@media (max-width:61.99875em) {
  .header__logo {
    width: 11.25rem
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    z-index: 1;
    background-color: #00a5e2;
    overflow: auto;
    padding: 17.5rem .9375rem .9375rem 1rem;
    transition: top .3s
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 5rem;
    top: -100%;
    left: 0;
    transition: top .3s;
    z-index: 2;
    background-color: #fff
  }
  .menu-open .menu__body {
    top: 0
  }
  .menu-open .menu__body::before {
    top: 0
  }
  .menu__list {
    margin-inline: -1rem;
    flex-direction: column;
    row-gap: 3.25rem;
    align-items: flex-start;
    position: relative
  }
  .menu__list {
    row-gap: 2rem
  }
  .menu__item {
    flex-direction: column;
    align-items: flex-start
  }
  .menu__top {
    margin-left: 1rem;
    font-size: 1.5rem;
    line-height: 125%;
    color: #fff
  }
  .menu__button-wrapper {
    position: relative;
    z-index: 2;
    display: grid;
    place-items: center;
    background-color: #f4f5f6;
    border-radius: .375rem;
    padding: .5rem 1rem
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.75rem;
    height: 1.25rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .25rem;
    background-color: #2a5199;
    border-radius: 50px
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .15rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: .4375rem;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .title {
    line-height: 1.42
  }
  p {
    line-height: 150%
  }
  .description-title {
    font-size: 1.25rem
  }
  .first__breadcrumbs {
    display: none
  }
  .first__subtitle {
    line-height: 1.37
  }
  .menu__item svg path {
    fill: #fff
  }
  .menu__item._active svg {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
  }
  .menu__sub-list {
    display: none
  }
  ._active .menu__sub-list {
    display: block
  }
  .menu__sub-link {
    line-height: 1.5
  }
  .footer__contraindications {
    padding: 1.25rem 1.5rem
  }
  .products__arrow {
    display: none
  }
  .product__title {
    margin-top: .625rem;
    margin-bottom: 1rem
  }
  .info__subtitle {
    font-size: 1rem
  }
  .selects__results {
    margin-bottom: 2.5rem;
    grid-template-columns: 1fr;
    gap: 2.5rem
  }
  .item__text {
    font-size: .875rem
  }
  .tabs {
    overflow-x: scroll
  }
  .tabs__navigation {
    min-width: 713px
  }
}
@media (max-width:47.99875em)and (max-width:22.5em) {
  .menu__top {
    font-size: 1rem
  }
  .menu__sub-link {
    font-size: 1rem
  }
  .info__content {
    padding-block: 5rem
  }
  .info__content {
    padding-inline: .625rem
  }
  .info__title {
    margin-bottom: 1.0625rem
  }
  .info__subtitle::after,
  .info__subtitle::before {
    width: 3rem
  }
  .info__subtitle::after,
  .info__subtitle::before {
    height: .75rem
  }
  .info__subtitle {
    margin-bottom: 1.875rem
  }
}
@media (max-width:47.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:40.625em) {
  .selects__body {
    flex-direction: column
  }
  .selects__item {
    width: 100%
  }
}
@media (max-width:29.99875em) {
  p {
    font-size: .875rem
  }
  .first__title:not(:last-child) {
    margin-bottom: .5rem
  }
  .footer__contraindications {
    padding: 1rem 1.25rem
  }
  .product__info p {
    font-size: .875rem
  }
  .info__content {
    padding-inline: 1rem
  }
  .item__img_last {
    flex-direction: column
  }
}
@media (max-width:22.5em) {
  .title {
    font-size: 1.5rem
  }
  .first__breadcrumbs {
    margin-bottom: 2.5rem
  }
  .first__container:not(:has(.first__subtitle)) {
    padding-block: 2.5rem
  }
  .first__container {
    padding-block: 2.5rem
  }
  .first__title {
    font-size: 1.875rem
  }
  .warning__text {
    font-size: 1.25rem
  }
  .warning__text {
    padding-block: 3.375rem
  }
  .note__list-item {
    font-size: .75rem
  }
  .footer {
    padding-top: 2.5rem
  }
  .footer__contraindications p {
    font-size: .875rem
  }
  .page__products {
    margin-top: -2.5rem
  }
  .product__img img {
    width: 11.875rem
  }
  .product__title {
    font-size: 1.25rem
  }
  .info__container {
    margin-top: 3.5rem
  }
  .info__container {
    margin-bottom: 3.5rem
  }
  .selects {
    margin-top: 1.5rem
  }
  .selects__body {
    margin-bottom: 1.5rem
  }
  .symptoms {
    padding-block: 2.5rem
  }
  .tabs__text {
    font-size: 1.5rem
  }
  .tabs__subtext {
    font-size: 1.125rem
  }
  .manual__punkt:not(:last-child) {
    margin-bottom: 2rem
  }
  .punkt .text {
    font-size: .875rem
  }
}
@media (min-width:48em)and (max-width:71.25em) {
  .menu__list {
    gap: clamp(.625rem ,-2.2137096774rem + 5.9139784946vw ,2rem)
  }
  .page__products {
    margin-top: clamp(-8.4375rem ,2.8629032258rem + -15.8602150538vw ,-4.75rem)
  }
  .selects__body {
    gap: clamp(1.25rem ,-1.3306451613rem + 5.376344086vw ,2.5rem)
  }
  .manual {
    margin-block: clamp(2.5rem ,-2.6612903226rem + 10.752688172vw ,5rem)
  }
}
@media (max-width:47.99875em)and (min-width:48em) {
  .menu__top {
    font-size: 1.5rem
  }
  .menu__sub-link {
    font-size: 1.5rem
  }
  .info__content {
    padding-block: 6.25rem
  }
  .info__content {
    padding-inline: 4.75rem
  }
  .info__title {
    margin-bottom: 1.75rem
  }
  .info__subtitle::after,
  .info__subtitle::before {
    width: 5.4375rem
  }
  .info__subtitle::after,
  .info__subtitle::before {
    height: 1.375rem
  }
  .info__subtitle {
    margin-bottom: 3.4375rem
  }
}
@media (max-width:47.99875em)and (min-width:22.5em)and (max-width:48em) {
  .menu__top {
    font-size: clamp(1rem ,.5588235294rem + 1.9607843137vw ,1.5rem)
  }
  .menu__sub-link {
    font-size: clamp(1rem ,.5588235294rem + 1.9607843137vw ,1.5rem)
  }
  .info__content {
    padding-block: clamp(5rem ,3.8970588235rem + 4.9019607843vw ,6.25rem)
  }
  .info__content {
    padding-inline: clamp(.625rem ,-3.0147058824rem + 16.1764705882vw ,4.75rem)
  }
  .info__title {
    margin-bottom: clamp(1.0625rem ,.4558823529rem + 2.6960784314vw ,1.75rem)
  }
  .info__subtitle::after,
  .info__subtitle::before {
    width: clamp(3rem ,.8492647059rem + 9.5588235294vw ,5.4375rem)
  }
  .info__subtitle::after,
  .info__subtitle::before {
    height: clamp(.75rem ,.1985294118rem + 2.4509803922vw ,1.375rem)
  }
  .info__subtitle {
    margin-bottom: clamp(1.875rem ,.4963235294rem + 6.1274509804vw ,3.4375rem)
  }
}
@media (min-width:22.5em)and (max-width:48em) {
  .title {
    font-size: clamp(1.5rem ,.6176470588rem + 3.9215686275vw ,2.5rem)
  }
  .first__breadcrumbs {
    margin-bottom: clamp(2.5rem ,.8455882353rem + 7.3529411765vw ,4.375rem)
  }
  .first__container:not(:has(.first__subtitle)) {
    padding-block: clamp(2.5rem ,-.2573529412rem + 12.2549019608vw ,5.625rem)
  }
  .first__container {
    padding-block: clamp(2.5rem ,.8455882353rem + 7.3529411765vw ,4.375rem)
  }
  .first__title {
    font-size: clamp(1.875rem ,1.3235294118rem + 2.4509803922vw ,2.5rem)
  }
  .warning__text {
    font-size: clamp(1.25rem ,.8088235294rem + 1.9607843137vw ,1.75rem)
  }
  .warning__text {
    padding-block: clamp(3.375rem ,1.9411764706rem + 6.3725490196vw ,5rem)
  }
  .note__list-item {
    font-size: clamp(.75rem ,.6397058824rem + .4901960784vw ,.875rem)
  }
  .footer {
    padding-top: clamp(2.5rem ,.2941176471rem + 9.8039215686vw ,5rem)
  }
  .page__products {
    margin-top: clamp(-4.75rem ,-.5147058824rem + -8.8235294118vw ,-2.5rem)
  }
  .product__img img {
    width: clamp(11.875rem ,2.2794117647rem + 42.6470588235vw ,22.75rem)
  }
  .product__title {
    font-size: clamp(1.25rem ,.6985294118rem + 2.4509803922vw ,1.875rem)
  }
  .info__container {
    margin-top: clamp(3.5rem ,1.0735294118rem + 10.7843137255vw ,6.25rem)
  }
  .info__container {
    margin-bottom: clamp(3.5rem ,1.0735294118rem + 10.7843137255vw ,6.25rem)
  }
  .symptoms {
    padding-block: clamp(2.5rem ,.2941176471rem + 9.8039215686vw ,5rem)
  }
  .tabs__text {
    font-size: clamp(1.5rem ,.9485294118rem + 2.4509803922vw ,2.125rem)
  }
  .tabs__subtext {
    font-size: clamp(1.125rem ,.5735294118rem + 2.4509803922vw ,1.75rem)
  }
  .manual__punkt:not(:last-child) {
    margin-bottom: clamp(2rem ,1.5588235294rem + 1.9607843137vw ,2.5rem)
  }
  .punkt .text {
    font-size: clamp(.875rem ,.7647058824rem + .4901960784vw ,1rem)
  }
}
@media (min-width:20em)and (max-width:22.5em) {
  .first__subtitle {
    font-size: clamp(1rem ,-1rem + 10vw ,1.25rem)
  }
}
@media (min-width:22.5em)and (max-width:71.25em) {
  .footer__contraindications p {
    font-size: clamp(.875rem ,.5865384615rem + 1.2820512821vw ,1.5rem)
  }
  .selects {
    margin-top: clamp(1.5rem ,-.1153846154rem + 7.1794871795vw ,5rem)
  }
  .selects__body {
    margin-bottom: clamp(1.5rem ,-.1153846154rem + 7.1794871795vw ,5rem)
  }
}
@media (min-width:29.99875em)and (max-width:47.99875em) {
  .selects__item {
    width: 30%
  }
}
@media (max-width:61.99875em)and (min-width:47.99875em) {
  .tabs__navigation {
    max-width: 700px
  }
}