.custom-checkbox {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-size: 1rem;
	cursor: pointer;
	user-select: none;
	&:not(:last-child) {
		margin-bottom: toRem(12);
	}
}

/* Скрываем стандартный чекбокс */
.custom-checkbox input {
	display: none;
}

/* Кастомный чекбокс */
.checkmark {
	width: 1.25rem;
	height: 1.25rem;
	border: 0.0625rem solid $secondColor;
	border-radius: 0.25rem;
	position: relative;
	display: inline-block;
	background-color: white;
	transition: background-color 0.3s, border-color 0.3s;
}

/* Галочка как изображение */
.checkmark::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0.8125rem;
	height: 0.6875rem;
	background: url('@img/symptoms/check.svg') no-repeat center;
	background-size: contain;
	opacity: 0;
	transition: opacity 0.2s;
}

/* Когда чекбокс активен */
.custom-checkbox input:checked+.checkmark {
	background: $secondColor;
	border-color: $secondColor;
}

/* Отображаем изображение-галочку */
.custom-checkbox input:checked+.checkmark::after {
	opacity: 1;
}