.about {
	.first__title.title[class] {
		@include adaptiveValue("font-size", 60, 30,0,768,360);
	}
}
.advantages {
	background-color: $fiveColor;
	@include adaptiveValue("padding-bottom", 40, 32, 0, 1140, 768);
	&__container {
		color: #fff;
		display: grid;
		// grid-template-columns: repeat(2, 46.754386%);
		grid-template-columns: repeat(2, 49%);
		// column-gap: 6.491228%; /* 74/1140 */
		@include adaptiveValue("column-gap", 74, 16,0,1140,768);
		@media (max-width: $mobile) {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	&__item {
	}
}
.advantage {
	&:nth-last-child(2) {
		@media (max-width:$mobile){
			 border-bottom: 0.125rem solid #5fa7af !important; 
		}
	}
	text-align: center;
	& > * {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 13, 24, 0, 768, 360);
		}
	}
	@include adaptiveValue("padding-block", 60, 40, 0, 1140, 768);
	border-bottom: 0.125rem solid #5fa7af;

	&_one {
		.advantage__text {
			// @media (min-width:toEm(768.02)){
				letter-spacing: -0.03em;
			// }
		}
	}

	&_two {
		display: flex;
		flex-direction: column;
		justify-content: center;
		.advantage__text {
			// @media (min-width:toEm(768.02)){
				// letter-spacing: -0.03em;
			// }
		}
	}

	&__decimal {
		font-weight: 700;
		line-height: 1;
		@include adaptiveValue("font-size", 120, 80, 0, 768, 360);
	}

	&__title {
		font-weight: 700;
		text-transform: uppercase;
		line-height: 1.2;
		@media (max-width: $mobile) {
			line-height: 1.5;
		}
		@include adaptiveValue("font-size", 30, 20, 0, 768, 360);
	}

	&__text {
		.br-mobile {
			@media (min-width:768.02){
				display: none; 
			}
		}
		@media (max-width: toEm(768.02)){
			//   letter-spacing: -0.02em;
		}
		text-wrap: balance;
		@include adaptiveValue("font-size", 22, 16, 0, 768, 360);
	}

	&__galery {
	}

	&__img {
	}
}
.galery {
	&_advantage {
	}
}
.galery-advantage {
	&__item {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: nowrap;
		position: relative;
		@media (min-width:$mobile){
			margin-inline: 1.0938rem;
		}
		img {
			@media (min-width:$mobile){
				@include adaptiveValue("width", 106, 75, 0, 1140, 768);
			}
			@media (max-width:$mobile){
				@include adaptiveValue("width", 106, 70, 0, 768, 360);
			}
			aspect-ratio: 1/1;
			&:not(:first-child) {
				margin-left: -0.5rem;
				@media (max-width:$mobile){
					 margin-left: -0.375rem; 
				}
			}
			&:nth-child(even) {
				// transform: translateY(60%);
				margin-top: 14%;
				@media (max-width:$mobile){
					 margin-top: 2.8125rem; 
				}
			}
		}
	}
}
.aspirations {
	@include adaptiveValue("margin-block", 80, 40,0, 1140, 768);
	text-align: center;
	&__container {
	}

	&__item {
	}
}
.aspiration {
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 80, 40,0,768,360);
	}
	&__img {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 40, 24,0,768,360);
		}
		@include adaptiveValue("width", 256, 160,0,768,360);
		margin:auto;
		img {
			width: 100%;
			height: auto;
		}
	}

	&__content {
		&>* {
			&:not(:last-child) {
				margin-bottom: toRem(16);
			}
		}
	}
	
	&__text {
		max-width: 37.5rem;
		margin:auto;
		text-transform: uppercase;
		font-weight: 700;
		text-wrap: balance;
		font-size: toRem(20);
		&:not(:last-child) {margin-bottom: toRem(16);}
	}

	&__main-text {
		margin:auto;
		max-width: 41.5rem;
		text-transform: uppercase;
		line-height: 1.2;
		@media (max-width:$mobile){
			 line-height: 1; 
		}
		font-weight: 700;
		@include adaptiveValue("font-size", 80, 40,0,768,360);
	}

	&__bottom-text {
	}
}
.contacts {
	border-top: 0.125rem solid #f4f5f6;
	&__container {
		@include adaptiveValue("padding-block", 80, 40,0, 1140, 768);
		
	}

	&__body {
		display: flex;
		gap: 0.625rem;
		justify-content: space-between;
		@media (min-width:toEm(768.02)){
			margin-inline: 3.75rem;
			  
		}
		@media (max-width:toEm(768.02)){
			 flex-direction: column; 
		}
	}
	
	&__title {
		text-transform: uppercase;
		font-weight: 700;
		@include adaptiveValue("font-size",28.5 ,20,0,768,360);
		@media (max-width:toEm(768.02)){
			 @include adaptiveValue("margin-bottom", 40, 24, 0, 768, 360); 
		}
	}

	&__items {
	}
}
.items-contacts {
	
	&__item {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 32, 16,0,768,360);
		}
	}

	&__link {
		display: flex;
		align-items: flex-start;
		gap: toRem(16);
		img {
			transform: translateY(0.375rem);
		}
	}

	&__text {
		color: $secondColor;
		@include adaptiveValue("font-size", 21, 16,0,768,360);
	}
}
