// Заголовки, общие БЄМ блоки и прочее...
.title {
	// font-size: 2.5rem;
	line-height: 120%;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	@media (max-width:$mobile){
		 line-height: 1.42; 
	}
	@include adaptiveValue("font-size", 40, 24, 0, 768, 360);
}

.button {
	display: inline-flex;
	background: #2a5199;
	border-radius: 3.125rem;
	color: #fff;
	// font-size: toRem(16);
	justify-content: center;
	align-items: center;
	padding: toRem(12) toRem(20);
	line-height: 140%;
	text-transform: uppercase;
	// font-family: TitilliumWeb;
	transition: background-color 0.3s, color 0.3s;

	&:hover {
		background-color: #fff;
		color: $secondColor;
		outline: 0.0625rem solid $secondColor;
	}
}


p {
	// font-size: 1rem;
	// line-height: 1.5;

	&_underline {
		text-decoration: underline;
	}

	span {
		font-weight: 700;
	}

	@media (max-width:$mobile) {
		line-height: 150%;
	}

	@media (max-width:$mobileSmall) {
		font-size: toRem(14);
	}
}

.description-title {
	font-weight: 600;
	font-size: 2.375rem;
	line-height: 126%;
	color: #484848;
	@media (max-width:$mobile){
		 font-size: toRem(20); 
	}
}

//====FIRST====================================================================================================================================================

.page {

	&__first {
		background-color: $secondColor;
		padding-block: 1rem;
		
		.cold & {
			background-color: $fourColor;
		}
		.about & {
			background-color: $fiveColor;
		}
	}
}

.first {

	&__breadcrumbs {
		padding-inline: 0.625rem;
		padding-top: toRem(16);
		&:not(:last-child) {margin-bottom: toRem(33);}
		@include adaptiveValue("margin-bottom", 70, 40,0,768,360);

		@media (max-width:$mobile){
			 display: none; 
		}
	}

	&__container {}

	&__title {
		@include adaptiveValue("font-size", 40, 30,0,768,360);
		&:not(:last-child) {margin-bottom: toRem(16);}
		@media (max-width:$mobileSmall){
			 &:not(:last-child) {margin-bottom: toRem(8);} 
		}
	}

	&__subtitle {
		text-align: center;
		margin-bottom: -20px;
		@include adaptiveValue("font-size", 20, 16,768,360);
		@media (max-width:$mobile){
			 line-height: 1.37; 
		
	}
}}

.breadcrumbs {

	&__list {
		display: flex;
		gap: toRem(20);
		align-items: center;
	}

	&__item {
		&:not(:last-child) {
			position: relative;
			&::after{
				content:'';
				position: absolute;
				right: -0.75rem;
				top: 50%;
				transform: translateY(-50%);
				width: 0.25rem;
				height: 0.25rem;
				background-color: #fff;
			}
		}
	}

	&__link {
		font-size: 12px;
line-height: 175%;
color: #fff;
	}

	&__current {
		font-size: 12px;
line-height: 175%;
color: #fff;
	}
}
//===SLOGAN=====================================================================================================================================================

.page {

	&__slogan {
		padding-block: 2.5rem;	
	}
}

.slogan {
	background-color: $secondColor;
	.cold & {
		background-color: $fourColor;
	}
	.about & {
		background-color: $fiveColor;
	}
	&__container {}

	&__text {
		max-width: 30rem;
		margin: auto;
		// text-wrap: balance;
	}
}

//==WARNING======================================================================================================================================================

.page {

	&__warning {
		background: #f4f5f6;
	}
}

.warning {

	&__container {

	}

	&__text {
		margin:auto;
		max-width: 57rem;
		text-align: center;
		color: $secondColor;
		line-height: 1.36;
		@include adaptiveValue("font-size", 28, 20,0, 768, 360);
		@include adaptiveValue("padding-block", 80, 54,0, 768, 360);
	}
}

//====NOTE====================================================================================================================================================

.page {

	&__note {
		margin-block: 2.5rem;
		
	}
}

.note {

	&__container {}

	&__list {
		padding-left: toRem(16);
	}

	&__list-item {
		@include adaptiveValue("font-size", 14, 12,0, 768, 360);
		line-height: 1.57;
	}
}