// Заголовки, общие БЄМ блоки и прочее...
.title {
	// font-size: 2.5rem;
	line-height: 120%;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	@media (max-width:$mobile){
		 line-height: 1.42; 
	}
	@include adaptiveValue("font-size", 40, 24, 0, 768, 360);
}

.button {
	display: inline-flex;
	background: #2a5199;
	border-radius: 3.125rem;
	color: #fff;
	// font-size: toRem(16);
	justify-content: center;
	align-items: center;
	padding: toRem(12) toRem(20);
	line-height: 140%;
	text-transform: uppercase;
	// font-family: TitilliumWeb;
	transition: background-color 0.3s, color 0.3s;

	&:hover {
		background-color: #fff;
		color: $secondColor;
		outline: 1px solid $secondColor;
	}
}


p {
	// font-size: 1rem;
	// line-height: 1.5;

	&_underline {
		text-decoration: underline;
	}

	span {
		font-weight: 700;
	}

	@media (max-width:$mobile) {
		line-height: 150%;
	}

	@media (max-width:$mobileSmall) {
		font-size: toRem(14);
	}
}

.description-title {
	font-weight: 600;
	font-size: 2.375rem;
	line-height: 126%;
	color: #484848;
	@media (max-width:$mobile){
		 font-size: toRem(20); 
	}
}

//====FIRST====================================================================================================================================================

.page {

	&__first {
		background-color: $secondColor;
		.cold & {
			background-color: $fourColor;
		}
		.about & {
			background-color: $fiveColor;
		}
	}
}

.first {

	&__breadcrumbs {}

	&__container {}

	&__title {}

	&__subtitle {}
}

.breadcrumbs {

	&__list {}

	&__item {}

	&__link {}

	&__current {}
}

.title {}

//===SLOGAN=====================================================================================================================================================

.page {

	&__slogan {
		padding-block: 2.5rem;	
	}
}

.slogan {
	background-color: $secondColor;
	.cold & {
		background-color: $fourColor;
	}
	.about & {
		background-color: $fiveColor;
	}
	&__container {}

	&__text {
		max-width: 480px;
		margin: auto;
		// text-wrap: balance;
	}
}

//==WARNING======================================================================================================================================================

.page {

	&__warning {
		background: #f4f5f6;
	}
}

.warning {

	&__container {

	}

	&__text {
		margin:auto;
		max-width: 57rem;
		text-align: center;
		color: $secondColor;
		line-height: 1.36;
		@include adaptiveValue("font-size", 28, 20,0, 768, 360);
		@include adaptiveValue("padding-block", 80, 54,0, 768, 360);
	}
}

//====NOTE====================================================================================================================================================

.page {

	&__note {
		margin-block: 2.5rem;
		
	}
}

.note {

	&__container {}

	&__list {
		padding-left: toRem(16);
	}

	&__list-item {
		@include adaptiveValue("font-size", 14, 12,0, 768, 360);
		line-height: 1.57;
	}
}