.footer {
	border-top: 0.125rem solid #f4f5f6;
	@include adaptiveValue("padding-top", 80, 40, 0, 768, 360);

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: toRem(14);
	}

	&__links {}

	&__menu {}

	&__info {}

	&__contraindications {
		// display: none;
		width: 100%;
		position: fixed;
		bottom: 0;
		z-index: 100;
		background-color: $secondColor;
		text-align: center;
		padding: 1.5625rem toRem(30);
		.menu-open & {
			z-index: 1;
		}
		@media (max-width:$mobile){
			 padding: 1.25rem toRem(24); 
		}
		@media (max-width:$mobileSmall){
			 padding: 1rem toRem(20); 
		}
		p {
			
			line-height: 114%;
			letter-spacing: -0.07em;
			text-transform: uppercase;
			color: #fff;
			@include adaptiveValue("font-size", 22, 14,0,1140,360);
		}
	}
}

.links-footer {
	display: grid;
	justify-content: center;
	row-gap: 1.875rem;

	&:not(:last-child) {
		margin-bottom: toRem(40);
	}
}

.links {

	&__footer {
		margin: auto;
	}
}

.menu-footer {
	display: flex;
	align-items: center;
	row-gap: 1rem;
	@media (min-width:toEm(768.02)){
		justify-content: center;
		  flex-wrap: wrap;
	}
	@media (max-width: toEm(768.02)){
		flex-direction: column;
	}
	&:not(:last-child) {
		margin-bottom: toRem(32);
	}

	&__item {
		position: relative;

		&:last-child {
			.menu-footer__link {
				border: none;
			}
		}

	}

	&__link {
		display: block;
		line-height: 1.57;
		padding-inline: 0.625rem;
		@media (min-width:$mobileSmall){
			border-right: 0.0625rem solid $mainColor;
			line-height: 1;
		}
	}
}

.info-footer {
	text-align: center;
	@media (min-width:$mobile){
		line-height: 1.57;
	}
	
	&:not(:last-child) {
		margin-bottom: toRem(152);
	}

	&__text {
		p {
			@include adaptiveValue("font-size", 14, 12,0,768,360);
			&:not(:last-child) {margin-bottom: toRem(20);}
			@media (max-width:$mobileSmall){
				 &:not(:last-child) {margin-bottom: toRem(16);} 
			}
		}
	}

	&__link {}
}