.header {

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-block: 1.5rem;
	}

	&__logo {
		position: relative;
		z-index: 6;
		width: 16.25rem;
		margin-right: 1rem;

		img {
			width: 100%;
		}

		@media (max-width:$tablet) {
			width: 11.25rem;
		}
	}

	&__menu {}
}

.menu {

	&__icon {}

	&__body {}

	&__list {}

	&__item {
		position: relative;
		cursor: pointer;
		svg {
			@media (max-width:$mobile) {
				path {
					fill: #fff;
				}
			}
		}

		// @media (any-hover: hover) {
			&:hover {
				.menu__sub-list {
					visibility: visible;
					opacity: 1;
					@media (max-width:$mobile){
						 
					}
				}

				
				.menu__top {
					font-weight: 700;
				}
			}
		// }
		& svg {
			transition: transform 0.3s ease 0s;
		}
		&._active {
			svg {

				@media (max-width:$mobile) {
					transform: rotate(180deg);
				}
			}
		}
	}

	&__link {}

	&__sub-list {
		padding-top: 1.25rem;
		@media (min-width:$mobile) {
			position: absolute;
			left: 0;
		top: 100%;
		visibility: hidden;
		opacity: 0;
		min-width: 100%;
		}
		._active & {
			width: 100vh; 
		// 	left: 0;
		// top: 100%;
		// padding-top: 1.25rem;
		// visibility: hidden;
		// opacity: 0;
		// min-width: 100%;
		}
		

		@media (max-width:$mobile) {
			display: none;

			._active & {
				display: block;
			}
		}
	}

	&__sub-item {
		padding: 1rem 1.5rem;
		background-color: #fff;
		cursor: pointer;

		// font-size: toRem(16);
		&:hover {
			@media (min-width:$mobile) {
				background-color: $therdColor;
			}

			.menu__sub-link {
				color: #fff;
			}
		}
	}

	&__sub-link {
		text-transform: uppercase;
		color: $therdColor;

		@media (min-width:$mobile) {

			text-wrap: nowrap;
		}

		@media (max-width:$mobile) {

			line-height: 1.5;
			@include adaptiveValue("font-size", 24, 16, 0, 768, 360);
		}
	}
}

.icon-menu {}