//======MAIN==================================================================================================================================================
.page {
	&__main {
	}
}
.main {
	img {
		width: 100%;
		height: auto;
	}
}

//===PRODUCTS=====================================================================================================================================================

.page {
	&__products {
		@include adaptiveValue("margin-top", -135, -76, 0, 1140, 768);
		@include adaptiveValue("margin-top", -76, -40, 0, 768, 360);

	}
}
.products {
	&__container {
	}

	&__swiper-shell {
		position: relative;
	}

	&__slider {
	}

	&__wrapper {
	}

	&__slide {
	}

	&__arrow {
		width: 3.5rem;
		height: 3.5rem;
		border-radius: 50%;
		display: grid;
		place-items: center;
		background: #f4f5f6;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 5;
		cursor: pointer;
		@media (max-width: $mobile) {
			display: none;
		}
	}

	&__arrow-prew {
		left: 0;
	}

	&__arrow-next {
		img {
			rotate: 180deg;
		}
		right: 0;
	}
}
.swiper {
}
.swiper-wrapper {
}
.product {
	&__img {
		display: flex;
		justify-content: center;
		img {
			height: auto;
			@include adaptiveValue("width", 364, 190, 0, 768, 360);
		}
	}

	&__content {
		text-align: center;
	}

	&__title {
		margin-top: toRem(40);
		margin-bottom: toRem(24);
		@media (max-width: $mobile) {
			margin-top: toRem(10);
			margin-bottom: toRem(16);
		}
		@include adaptiveValue("font-size", 30, 20, 0, 768, 360);
	}

	&__info {
		margin: auto;
		max-width: 87.719298%; /* 1000/1140 */
		p {
			line-height: 1.62;
			@media (max-width: $mobileSmall) {
				font-size: toRem(14);
			}
			&:not(:last-child) {
				margin-bottom: toRem(24);
			}
		}
	}

	&__advantages {
		line-height: 3;
	}
	&__link {
	}
}
.swiper-slide {
}
.text {
}
.button {
}
.swiper-pagination {
	margin-top: 1.5rem;
	display: flex;
	justify-content: center;
	gap: 0.5rem;

	.swiper-pagination-bullet {
		cursor: pointer;
		width: 0.5rem;
		height: 0.5rem;
		border-radius: 50%;
		background-color: #f4f5f6;
		transition: background-color 0.8s;
	}
	.swiper-pagination-bullet-active {
		background-color: $secondColor;
	}
}
//==INFO======================================================================================================================================================

.page {
	&__info {
		
	}

	&__warning {
	}

	&__note {
	}
}
.info {
	&__container {
		@include adaptiveValue("margin-top", 100, 56, 0, 768, 360);
		@include adaptiveValue("margin-bottom", 100, 56, 0, 768, 360);
	}

	&__text {
		margin: auto;
		text-align: center;
		max-width: 43.75rem;
		font-size: toRem(22);
		text-wrap: balance;
		margin-bottom: 6.25rem;
	}

	&__content {
		max-width: 47rem;
		margin: auto;
		text-align: center;
		background: url("@img/home/bg-2.png") 0 0 no-repeat;
		border-radius: 2rem;
		@media (min-width:$mobile){
			padding-inline: 4.75rem;
			padding-block: 6.25rem;
			  
		}
		@media (max-width:$mobile){
			  @include adaptiveValue("padding-block", 100, 80,0, 768, 360);
			  @include adaptiveValue("padding-inline", 76, 10,0, 768, 360);
		}
		@media (max-width: $mobileSmall) {
			padding-inline: toRem(16);
		}
	}

	&__title {
		img {
			width: 63.696809%; /* 479/752 */
		}
		@media (min-width: $mobile) {
			&:not(:last-child) {
				margin-bottom: toRem(28);
			}
		}
		@media (max-width: $mobile) {
			@include adaptiveValue("margin-bottom", 28, 17, 0, 768, 360);
		}
	}

	&__subtitle {
		font-weight: 900;
		font-size: 1.8125rem;
		color: $secondColor;
		line-height: 145%;
		text-transform: uppercase;
		position: relative;
		display: flex;
		justify-content: center;
		@media (max-width: $mobile) {
			font-size: toRem(16);
		}
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			@media (min-width:$mobile){
				width: 5.4375rem;
				height: 1.375rem;
				  
			}
			@media (max-width: $mobile) {
				@include adaptiveValue("width", 87, 48, 0, 768, 360);
				@include adaptiveValue("height", 22, 12, 0, 768, 360);
				
			}
		}
		&::before {
			content: "";
			left: 0.75rem;
			rotate: 180deg;
			transform-origin: top;
			background: linear-gradient(90deg, #2a5199 0%, rgba(42, 81, 153, 0) 100%);
		}
		&::after {
			content: "";
			right: 0.75rem;
			background: linear-gradient(90deg, #2a5199 0%, rgba(42, 81, 153, 0) 100%);
		}
		@media (min-width: $mobile) {
			&:not(:last-child) {
				margin-bottom: toRem(55);
			}
		}
		@media (max-width:$mobile){
			@include adaptiveValue("margin-bottom", 55, 30, 0, 768, 360); 
		}
	}

	&__link {
	}
}
.button {
}

//=WARNING=======================================================================================================================================================

.warning {
	&__container {
	}

	&__text {
	}
}

//==NOTE======================================================================================================================================================

.note {
	&__container {
	}

	&__list {
	}

	&__list-item {
	}
}
