//====================================================================================================
.a {
	font-family: NotoSans;
	// font-family: var(--third-family);
font-weight: 400;
font-size: 40px;

/* line-height: 48px; */ 
line-height: 120%;
text-transform: uppercase;
text-align: center;
// color: #fff;
}
//====================================================================================================
