.selects {
	@include adaptiveValue("margin-top", 80, 24, 0, 1140, 360);

	&_arrow {
		display: flex;
		align-items: center;

		img {
			transition: transform 0.3s ease 0s;
			._select-open & {
				transform: rotate(-180deg);
			}
		}
	}

	&__container {}

	&__body {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-wrap: wrap;

		@media (min-width:$mobile){
			@include adaptiveValue("margin-bottom", 80, 60, 0, 1140, 768);
		}
		margin-bottom: 4.5rem;
		@include adaptiveValue("gap", 40, 20, 0, 1140, 768);

		@media (max-width: toEm(650)) {
			flex-direction: column;
		}
	}

	&__item {
		cursor: pointer;
		flex: 1;
		display: flex;
		justify-content: space-between;
		align-items: center;
		// flex-wrap: wrap;
		// width: 22.5%;
		background: #f4f5f6;
		border-radius: 0.3125rem;
		padding: 0.8125rem 1rem;
		font-weight: 600;
		color: $secondColor;

		@media (max-width: toEm(650)) {
			width: 100%;
		}
	}

	&__text {}

	&__list {
		display: none;
		flex: 1 1 100%;
		margin-top: toRem(24);

		._select-open & {
			display: block;
		}
	}

	&__item-list {}

	&__results {
		display: grid;
		gap: 5rem 2.5rem;
		margin-bottom: toRem(80);
		grid-template-columns: repeat(2, 1fr);
		@media (max-width: toEm(768.02)) {
			grid-template-columns: repeat(1, 1fr);
			margin-bottom: toRem(40);
			gap: toRem(40);
		}
	}

	&__result {}
}

.item {
	border-top: 0.125rem solid #f4f5f6;
	text-align: center;
	padding-top: toRem(40);

	&__img {
		width: 16.5rem;
		margin: auto;
		align-items: center;

		&_last {
			width: 100%;
			display: flex;
			justify-content: center;
			gap: toRem(20);

			@media (max-width: $mobileSmall) {
				flex-direction: column;
			}
		}

		&:not(:last-child) {
			margin-bottom: toRem(32);
		}

		img {
			&:first-child {
				max-width: 16.5rem;
			}

			// max-width: 100%;
		}
	}

	&__content {}

	&__title {
		font-weight: 700;
		font-size: 1.125rem;
		line-height: 133%;

		&:not(:last-child) {
			margin-bottom: toRem(16);
		}
	}

	&__text {
		margin-block: toRem(32);
		font-size: toRem(13);
		color: #5fa7af;
		line-height: 1.71;

		span {
			display: block;
			margin-block: toRem(16);
		}

		@media (max-width: $mobile) {
			font-size: toRem(14);
		}
	}

	&__link {}
}

.link-item {
	background-color: #f4f5f6;
	border-radius: 0.75rem;
	padding: toRem(9) toRem(17.7);
	display: inline-flex;
	gap: toRem(10);
	align-items: center;
	font-size: toRem(15);
	color: $secondColor;
	line-height: 1.13;
	text-align: center;
	transition: background-color 0.3s, color 0.3s;

	& svg path {
		transition: fill 0.3s;
	}

	@media (hover: hover) {
		&:hover {
			background-color: $secondColor;
			color: #fff;

			svg {
				path {
					fill: #fff;
				}
			}
		}
	}

	@media (hover: none) {
		&:active {
			background-color: $secondColor;
			color: #fff;

			svg {
				path {
					fill: #fff;
				}
			}
		}
	}

	&__img {}

	&__text {
		font-weight: 700;
	}
}

.products {
	background-color: $secondColor;
	@include adaptiveValue("padding-block", 80, 40, 0, 768, 360);

	&__container {
		// @extend .title
	}

	&__title {
		margin-bottom: toRem(40);
		margin-inline: auto ;
		max-width: 87%;
	}

	&__body {}
}

.tabs {
	position: relative;

	@media (max-width: $mobile) {
		overflow-x: scroll;
	}

	margin-inline: -0.625rem;

	&__navigation {
		padding: 0.625rem;
		max-width: 806px;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: toRem(40);
		column-gap: 6.25rem;
		@media (max-width: $mobile) {
			& .tabs__title:first-child._tab-active {
				padding-left: 0.625rem;
			}
			min-width: 44.5625rem;
			column-gap: 4.4375rem;
		}
	}

	&__title {
		img {
			width: 100%;
			height: auto;
		}
		&:not(:last-child) {
			position: relative;
			z-index: 2;

			& span {
				content: "";
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				border-top: 0.25rem dashed #fff;
				right: -7.5rem;
				width: 7.5rem;
				z-index: 0;
			}
		}
	}

	&__closed {
		position: relative;
		z-index: 2;
	}

	&__active {
		
		:not(._tab-active) & {
			display: none;
		}
	}

	._tab-active {
		.tabs__active {
			display: inline-block;
			transform: scale(1.1667);
		}

		.tabs__closed {
			display: none;
		}
	}

	&__active {
		transition: transform 0.3s ease 0s;
	}

	&__content {
		position: sticky;
		top: 0;
		left: 0;
		z-index: 10;
	}

	&__body {}

	&__text {
		font-weight: 600;
		@include adaptiveValue("font-size", 34, 24, 0, 768, 360);

		line-height: 150%;
		text-transform: uppercase;
		text-align: center;
		color: #fff;
		margin-bottom: toRem(12);
	}

	&__subtext {
		@include adaptiveValue("font-size", 28, 18, 0, 768, 360);
		max-width: 40.625rem;
		margin: auto;
		line-height: 125%;
		text-align: center;
		color: #fff;
	}
}

.manual {
	@include adaptiveValue("margin-block", 80, 40, 0, 1140, 768);

	&__container {}

	&__punkt {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 40, 32, 0, 768, 360);
		}
	}
}

.punkt {
	& .text {
		@include adaptiveValue("font-size", 16, 14, 0, 768, 360);

		b {
			display: block;
			margin-bottom: 0.75rem;
		}
	}

	&__product {
		&:not(:last-child) {
			margin-bottom: toRem(24);
		}
	}

	&__product-list {}

	&__list-item {
		list-style-type: disc;
		margin-left: 1.875rem;
	}

	&__contra {
		&:not(:last-child) {margin-bottom: toRem(24);}
	}
}

.text {
	&_underline {
		&:not(:last-child) {
			margin-bottom: toRem(16);
		}
	}
}

.video {
	video {
		width: 100%;
	}

	&__container {}
}