.wrapper {
}
.page {
	&__first {
	}

	&__selects {
	}

	&__symptoms {
	}

	&__manual {
	}

	&__video {
	}
}
.first {
	&__breadcrumbs {
	}

	&__container {
	}

	&__title {
	}

	&__subtitle {
	}
}
.breadcrumbs {
	&__list {
	}

	&__item {
	}

	&__link {
	}

	&__current {
	}
}
.title {
}
.selects {
	@include adaptiveValue("margin-top", 80, 24, 0, 1140, 360);
	&_arrow {
		display: flex;
		align-items: center;
		img {
			transition: transform 0.3s ease 0s;
			._select-open & {
				transform: rotate(-180deg);
			}
		}
	}

	&__container {
	}

	&__body {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		@include adaptiveValue("margin-bottom", 80, 24, 0, 1140, 360);
		@include adaptiveValue("gap", 40, 20, 0, 1140, 768);
		@media (max-width: toEm(650)) {
			flex-direction: column;
		}
	}

	&__item {
		cursor: pointer;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		width: 22.5%;
		background: #f4f5f6;
		border-radius: 5px;
		padding: 13px 16px;
		font-weight: 600;
		color: $secondColor;
		@media (min-width: $mobileSmall) and (max-width: $mobile){
			width: 30%; 
		}
		@media (max-width: toEm(650)) {
			  width: 100%;
		}
	}

	&__text {
	}

	&__list {
		display: none;
		flex: 1 1 100%;
		margin-top: toRem(24);
		._select-open & {
			display: block;
		}
	}

	&__item-list {
		
	}

	&__results {
	}

	&__result {
	}
}

.item {
	&__img {
	}

	&__content {
	}

	&__title {
	}

	&__text {
	}

	&__link {
	}
}
.link-item {
	&__img {
	}

	&__text {
	}
}
.symptoms {
	background-color: $secondColor;
	@include adaptiveValue("padding-block", 80, 40, 0, 768, 360);
	&__container {
	}

	&__title {
		margin-bottom: toRem(40);
	}

	&__body {
	}
}
.tabs {
	&__navigation {
		max-width: 800px;
		margin:auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: toRem(40);
	}

	&__title {
	}

	&__closed {
		._tab-active & {
			// display: none;
		}
		:not(._tab-active) & {
			// display: inline-block;
		}
	}

	&__active {
		._tab-active & {
			// display: inline-block;
		}
		:not(._tab-active) & {
			display: none;
		}
	}

	._tab-active {
		.tabs__active {
			display: inline-block;
		}
		.tabs__closed {
			display: none;
		}
	}
	&__content {
	}

	&__body {
	}

	&__text {font-weight: 600;
		font-size: 34px;
		
		/* line-height: 51px; */ 
		line-height: 150%;
		text-transform: uppercase;
		text-align: center;
		color: #fff;
		margin-bottom: toRem(12);
	}

	&__subtext {font-size: 28px;

		/* line-height: 35px; */ 
		line-height: 125%;
		text-align: center;
		color: #fff;
	}
}

.manual {
	&__container {
	}

	&__punkt {
	}
}
.punkt {
	&__product {
	}

	&__product-list {
	}

	&__list-item {
	}

	&__contra {
	}
}
.text {
	&_underline {
	}
}
.video {
	&__container {
	}
}
