.wrapper {
}
.page {
	&__articles {
		margin-top: toRem(40);

	}
}

.title {
}
.description {
	@include adaptiveValue("padding-top", 80, 40, 0, 1140, 768);
	@include adaptiveValue("padding-bottom", 50, 40, 0, 1140, 768);

	&:not(:last-child) {
	}
	background: url("@img/fever/bg-fever.jpg") 0 0 / cover no-repeat;
	&__container {
	}

	&__main {
		border-radius: 2.5rem;
		@media (max-width:$mobileSmall){
			border-radius: 1.5rem; 
		}
		@include adaptiveValue("padding-block", 32, 16,0,768,360);
		@include adaptiveValue("padding-inline", 40, 16,0,768,360);
		background-color: $secondColor;
		color: #fff;
		@include adaptiveValue("margin-bottom", 32, 24, 0, 1140, 768);
	}

	&__main-text {
		@media (max-width:$mobileSmall){
			line-height: 1.46;
		}
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		gap: toRem(20);
		@media (min-width:toEm(768.02)){
			 flex-wrap: wrap; 
		}
		@media (max-width: toEm(768.02)) {
			flex-direction: column;
		}
	}

	&__item {
		flex: 1 1 49%;
		position: relative;
		@media (max-width: toEm(768.02)) {
			gap: toRem(10);
		}
		
	}

	&__text {
		color: $secondColor;
		position: relative;
		padding-left: toRem(25);
		&::before{
			content:'';
			position: absolute;
			top: 0.375rem;
			left: 0;
			width: 100%;
			height: 100%;
			background: url('@img/fever/arrow-r-fever-blue.svg') 0 0 no-repeat;;
		}
		@include adaptiveValue("font-size", 16, 14, 0, 768, 360);
	}
}
.articles {
	margin-bottom: toRem(40);
	&__container {
		&.container-full {
			max-width: 88.75rem;
		}
	}

	&__item {
		border-radius: 2rem;
		background: #f4f5f6;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 40, 20, 0, 1140, 768);
		}
		@media (max-width: toEm(768.02)){
			border-radius: 2rem;
		}
		@media (max-width:$mobileSmall){
			border-radius: 1.5rem; 
		}
	}

	&__content {
		@media (min-width:toEm(768.02)){
			@include adaptiveValue("padding-inline", 70, 32, 0, 1140, 768);
			.fever & {
				@include adaptiveValue("padding-inline", 130, 32, 0, 1140, 768);
			}
		}
		@media (max-width:toEm(768.02)){
			@include adaptiveValue("padding-inline", 32, 16, 0, 768, 360);

		}
		@include adaptiveValue("padding-block", 60, 16, 0, 1140, 480);
	}
	&__img {
		img {
			width: 100%;
			height: auto;
			@media (max-width: toEm(768.02)){
				  border-radius: 2rem;
			}
			@media (max-width:$mobileSmall){
				 border-radius: 1.5rem; 
			}
		}
	}

	&__text {
		padding-block: 1.5rem;
		color: #484848;
		.fever & {
			padding: 2rem 0 0rem 0;
		}
	}

	&__link {
	}
}

.articles {
	&__content {
		.description-title {
			font-weight: 600;
			line-height: 126%;
			color: #484848;
			@media (max-width:$mobileSmall){
				&_one {
					max-width: 90%;
				}
				letter-spacing: -0.01em; 
			}
			@include adaptiveValue("font-size", 38, 20, 0, 768, 360);
		}

		&__sub-title,
		h2, h3, h4, h5, h5, h6 {
			color: #484848;
			@include adaptiveValue("font-size", 28, 16, 0, 768, 360);
			font-weight: 600;
		}

		p {
			padding-top: 1rem;
		}

		&__list,
		ul, ol {
			margin-top: toRem(10);
		}

		&__list-item,
		li {
			@extend .punkt__list-item;

			p {
				padding-top: 0;
			}
		}

		br, strong {
			font-weight: 700;
		}

		&__sub-content,
		div {
			@include adaptiveValue("margin-top", 32, 24, 0, 768, 360);
		}

		hr {
			height: 1px;
			border: 0;
			background: #484848;
			margin-top: 1rem;
		}
	}


	&__text {
		@media (max-width: toEm(768.02)) {
			letter-spacing: -0.03em;
	 }
		.fever & {
			padding-top: 1rem;
		}
	}
}
